﻿@model mia.Models.Articles
@{
    ViewBag.Title = "Gestion des offres";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="row">
    <div class="col-md-3 col-sm-12 col-md-push-9 col-lg-push-9">
        <div id="panier">
            <img src="http://bonetbon.com/wp-content/themes/bonetbon_2015/core/img/panier.png" />
            Panier
            <br />
            Articles (<i id="items-gdo">0</i>)
            <br />
            <a href="#" id="bouton-gdo">Details</a>
        </div>
    </div>
    <div id="listing" class="col-md-9 col-sm-12 col-md-pull-3 col-lg-pull-3">
            <div id="listing-gdo" class="col-lg-12">
                <table id="table-articles" class="table table-condensed">
                    <thead>
                        <tr>
                            <th class="col-lg-1">#</th>
                            <th class="col-lg-4">Nom</th>
                            <th class="col-lg-1 hidden-sm hidden-xs">Code</th>
                            <th class="col-lg-1">PU</th>
                            <th class="col-lg-2">QTÉ</th>
                            <th class="col-lg-1 margetohide">Marge</th>
                            <th class="col-lg-1">PT</th>
                            <th class="col-lg-1"><p class="margetohide">Total - Marge</p></th>
                        </tr>
                    </thead>
                    <tbody id="details-elems"></tbody>
                </table>
                <div class="col-lg-12">

                </div>
                <div class="col-lg-12 text-center">
                    <button id="show-marge" class="btn btn-xl">Mia Trading</button>
                </div>
                <div class="col-lg-6 text-center">
                    <a id="btn-export-excel" href="#">Enregistrer la liste sous le format Excel</a>
                </div>
                <div class="col-lg-6 text-center">
                    <a id="btn-export-pdf" href="#">Enregistrer la liste sous le format PDF</a>
                </div>
            </div>

            <div id="prix-offre" class="col-xs-12 row">
                <div class="col-lg-12">
                    <div class="col-md-11 col-xs-9">
                        @Html.EditorFor(model => model.ArticleDesc, new { htmlAttributes = new { @class = "form-control textbox", @placeholder = "Tapez le nom de votre produit" } })
                    </div>
                    <div class="col-md-1 col-xs-3">
                        <button id="reset" class="btn btn-xl">Vider</button>
                    </div>
                </div>

                <br />
                <br />
                <br />

                <div class="row">
                    <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="small-box bg-aqua">
                            <div class="inner">
                                <h3>Prix idéal</h3>
                                <p id="prix_ideal">0</p>
                            </div>
                            <div class="icon">
                                <i class=""></i>
                            </div>
                            <a href="#" class="small-box-footer">
                                <div class="input-group">
                                    <button class="plus" type="button">+</button>
                                    <input class="output" type="number" name="quantity" value="0" min="1" max="9999">
                                    <button class="moins" type="button">-</button>
                                </div>
                                <p class="colisage"></p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="small-box bg-green">
                            <div class="inner">
                                <h3>Prix médian</h3>
                                <p id="prix_moyen">0</p>
                            </div>
                            <div class="icon">
                                <i class=""></i>
                            </div>
                            <a href="#" class="small-box-footer">
                                <div class="input-group">
                                    <button class="plus" type="button">+</button>
                                    <input class="output" type="number" name="quantity" value="0" min="1" max="9999">
                                    <button class="moins" type="button">-</button>
                                </div>
                                <p class="colisage"></p>
                            </a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-sm-6 col-xs-12">
                        <!-- small box -->
                        <div class="small-box bg-yellow">
                            <div class="inner">
                                <h3>Prix défensif</h3>
                                <p id="prix_def">0</p>
                            </div>
                            <div class="icon">
                                <i class=""></i>
                            </div>
                            <a href="#" class="small-box-footer">
                                <div class="input-group">
                                    <button class="plus" type="button">+</button>
                                    <input class="output" type="number" name="quantity" value="0" min="1" max="9999">
                                    <button class="moins" type="button">-</button>
                                </div>
                                <p class="colisage"></p>
                            </a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-sm-6 col-xs-12">
                        <!-- small box -->
                        <div class="small-box bg-red">
                            <div class="inner">
                                <h3>Prix Limite Basse</h3>
                                <p id="prix_limitebasse">0</p>
                            </div>
                            <div class="icon">
                                <i class=""></i>
                            </div>
                            <a href="#" class="small-box-footer">
                                <div class="input-group">
                                    <button class="plus" type="button">+</button>
                                    <input class="output" type="number" name="quantity" value="0" min="0" max="9999">
                                    <button class="moins" type="button">-</button>

                                </div>
                                <p class="colisage"></p>
                            </a>
                        </div>
                    </div>
                    <!-- ./col -->
                </div>
                <div class="col-xs-12">
                    <div class="">
                        <button id="btn-valider" class="btn btn-xl">Valider</button>
                    </div>
                </div>
            </div>
        </div>

</div>
<hr>
