﻿
@{
    ViewBag.Title = "Panier";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
    ViewBag.Sousmenu = "<li class='header'>Categories</li>";
}
<div class="col-xs-12">
    <div class="">
        Un tableau en guise de récap.
    </div>
    <div class="">
        Les boutons Excel et PDF pour l'export du panier qui signifie qu'on met fin à la procédure
    </div>
</div>
