﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Erreu 40 : la page que vous voulez afficher n'existe pas/plus.</h1>
<h2 class="text-danger">Revenir </h2>

