﻿@model mia.Models.Clients
@{
    ViewBag.Title = "Catalogue des clients";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="row">

    <div class="col-md-3 col-sm-12 col-md-push-9 col-lg-push-9">
        <div id="panier" class="panier-fixe">
            <img src="http://bonetbon.com/wp-content/themes/bonetbon_2015/core/img/panier.png" />
            Panier
            <br />
            Articles (<i id="items-gdo">0</i>)
            <br />
            <a href="#" id="bouton-gdo">Details</a>
        </div>
    </div>
    <div class="col-md-9 col-sm-12 col-md-pull-3 col-lg-pull-3">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-xs-9 col-md-10">
                    @Html.EditorFor(model => model.ClientNom, new { htmlAttributes = new { @class = "form-control textbox", @placeholder = "Tapez le nom de votre client" } })
                </div>
                <div class="col-md-1 col-xs-3">
                    <button id="reset" class="btn btn-default">Vider</button>
                </div>
                <div class="col-xs-3 col-md-1">
                    <button id="btn-catalogue" class="btn btn-default" value="Valider">Valider</button>
                </div>
            </div>
        </div>
        <div id="catalogue-client">
            <div id="catalogue" class="col-lg-12">

            </div>
        </div>
    </div>
</div>