﻿@model mia.Models.Articles

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Articles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodeArticle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodeArticle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArticleDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticleDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilleArt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilleArt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SousFamilleArt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SousFamilleArt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrixAchat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrixAchat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrixRevient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrixRevient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Score)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrixIdeal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrixIdeal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrixMoyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrixMoyen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrixDef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrixDef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrixLimiteBasse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrixLimiteBasse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MargeIdeal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MargeIdeal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MargeMoyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MargeMoyen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MargeDef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MargeDef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MargeLimiteBasse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MargeLimiteBasse)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
