﻿@model IEnumerable<mia.Models.Articles>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodeArticle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArticleDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilleArt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SousFamilleArt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrixAchat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrixRevient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrixIdeal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrixMoyen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrixDef)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrixLimiteBasse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MargeIdeal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MargeMoyen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MargeDef)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MargeLimiteBasse)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodeArticle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArticleDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilleArt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SousFamilleArt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrixAchat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrixRevient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrixIdeal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrixMoyen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrixDef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrixLimiteBasse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MargeIdeal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MargeMoyen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MargeDef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MargeLimiteBasse)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
