﻿@model mia.Models.Clients

@{
    ViewBag.Title = "Fiche Clients";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="form-horizontal">
    <div class="form-group">
        <div class="col-xs-9 col-md-11">
            @Html.EditorFor(model => model.ClientNom, new { htmlAttributes = new { @class = "form-control textbox", @placeholder = "Tapez le nom de votre client" } })
        </div>
        <div class="col-xs-3 col-md-1">
            <button id="btn-client" class="btn btn-default" value="Valider">Valider</button>
        </div>
    </div>
</div>
<div id="chart" class="col-xs-10">
    <canvas id="chartMonth"></canvas>
</div>
<table id="ca-produits" class="rwd-table table">
    <tr>
        <th class="col-xs-2">CA PAR FAMILLES</th>
        <th class="col-xs-2">2016</th>
        <th class="col-xs-2">2015</th>
        <th class="col-xs-2">2014</th>
    </tr>
    <tr>
        <td>Fruits Secs</td>
        <td id="fs2016"></td>
        <td id="fs2015"></td>
        <td id="fs2014"></td>

    </tr>
    <tr>
        <td>Olives et citrons</td>
        <td id="oc2016"></td>
        <td id="oc2015"></td>
        <td id="oc2014"></td>

    </tr>
    <tr>
        <td>Epices</td>
        <td id="ep2016"></td>
        <td id="ep2015"></td>
        <td id="ep2014"></td>
    </tr>
    <tr>
        <td>Frais et surgelés</td>
        <td id="fsu2016"></td>
        <td id="fsu2015"></td>
        <td id="fsu2014"></td>

    </tr>
    <tr>
        <td>Desserts et confiseries</td>
        <td id="dc2016"></td>
        <td id="dc2015"></td>
        <td id="dc2014"></td>
    </tr>
    <tr>
        <td>Legumes secs</td>
        <td id="ls2016"></td>
        <td id="ls2015"></td>
        <td id="ls2014"></td>
    </tr>
    <tr>
        <td>Bouillon Soupe Levure</td>
        <td id="bsl2016"></td>
        <td id="bsl2015"></td>
        <td id="bsl2014"></td>
    </tr>
    <tr>
        <td>Feculents et pates</td>
        <td id="fp2016"></td>
        <td id="fp2015"></td>
        <td id="fp2014"></td>
    </tr>
    <tr>
        <td>Conserves</td>
        <td id="c2016"></td>
        <td id="c2015"></td>
        <td id="c2014"></td>
    </tr>
    <tr>
        <td>Non Food</td>
        <td id="nf2016"></td>
        <td id="nf2015"></td>
        <td id="nf2014"></td>
    </tr>
    <tr>
        <td>Boissons</td>
        <td id="b2016"></td>
        <td id="b2015"></td>
        <td id="b2014"></td>
    </tr>
    <tr>
        <td>Huile Vinaigre Sauce</td>
        <td id="hvs2016"></td>
        <td id="hvs2015"></td>
        <td id="hvs2014"></td>
    </tr>
    <tr>
        <td>Fruits Frais</td>
        <td id="ff2016"></td>
        <td id="ff2015"></td>
        <td id="ff2014"></td>
    </tr>
    <tr>
        <td><b>Total</b></td>
        <td id="t2016"></td>
        <td id="t2015"></td>
        <td id="t2014"></td>
    </tr>
    <tr>
        <td><b>Divers</b></td>
        <td id="d2016"></td>
        <td id="d2013"></td>
        <td id="d2014"></td>
    </tr>
</table>