﻿/*tableau*/
td {
    font-size: 17px;
    vertical-align: middle;
}

th {
	background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#0017ec, #555);
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 #999;
	color: #fff;
    font-weight: bold;
	padding: 10px 15px;
	position: relative;
	text-shadow: 0 1px 0 #000;	
}

th:after {
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: absolute;
	top: 25%;
	width: 100%;
}

th:first-child {
	border-left: 1px solid #777;	
	box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
	box-shadow: inset -1px 1px 0 #999;
}

td {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
}

td:first-child {
	box-shadow: inset 1px 0 0 #fff;
}	

td:last-child {
	border-right: 1px solid #e8e8e8;
	box-shadow: inset -1px 0 0 #fff;
}	

tr {
	background: url(http://jackrugile.com/images/misc/noise-diagonal.png);
    vertical-align: middle;
}

tr:nth-child(odd) td {
	background: #f1f1f1 url(http://jackrugile.com/images/misc/noise-diagonal.png);	
}

tr:last-of-type td {
	box-shadow: inset 0 -1px 0 #fff; 
}

tr:last-of-type td:first-child {
	box-shadow: inset 1px -1px 0 #fff;
}	

tr:last-of-type td:last-child {
	box-shadow: inset -1px -1px 0 #fff;
}	

tbody:hover td {
	color: transparent;
	text-shadow: 0 0 3px #aaa;
}

tbody:hover tr:hover td {
	color: #444;
	text-shadow: 0 1px 0 #fff;
}
/*Textbox*/

.textbox {
    background: #FFF url(http://html-generator.weebly.com/files/theme/input-text-9.png) no-repeat 8px 8px;
    border: 1px solid #999;
    outline: 0;
    padding-left: 40px;
    height: 35px;
    border-radius: 25px;
    background-color: rgba(0, 0, 255, 0); /* Couleur de fond */
    border-style: solid; /* Style de la bordure  */
    border-width: 1px; /* Epaisseur de la bordure  */
    border-color: rgba(0, 0, 255, 0.25); /* Couleur de la bordure  */
}
.ui-state-focus {
    background: none !important;
    background-color: #eee !important;
    border: none !important;
}
.ui-autocomplete-term { font-weight: bold; color: blue; }
.ui-autocomplete { height: 200px; width:25px; overflow-y: scroll; overflow-x: hidden; -webkit-overflow-scrolling: touch;}

.small-box h3 {
    font-size: 15px;
}
.small-box p {
    font-size: 35px;
}
.small-box > .small-box-footer{
    font-size: 25px;
}
#panier {
    padding-top:20px;
    margin-left:50px;
    margin-bottom:20px;
    transform: scale(1) rotate(90deg);
    -webkit-transform: scale(1) rotate(20deg);
    background-color: rgba(102,255,140,1);
    border: 10px solid rgba(0,255,127,0.4);
    -moz-border-radius: 50%;
    -webkit-border-radius: 390px;
    border-radius: 390px;
    width: 200px;
    height: 200px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-size: 25px;
    box-shadow: 5px 5px 5px grey;
}
.panier-fixe {
    position: fixed;
}
.input-group {
    padding-left:5px;
}
.selector-price {
    box-shadow: -1px 2px 20px 1px rgba(0, 0,255, 1),
            -1px 2px 20px rgba(255, 255, 255, 0.6) inset; 
}
.colisage {
    position:absolute;
    bottom:0;
    right:0;
    margin-right:10px;
    font-size: 10px;
    text-align: right;
}
.small-box > .colisage {
    font-size: 10px;
}
.box {
    border-radius:25px;
}

.button-vert {
   margin-bottom: 25px;
   border: 2px solid #517c94;
   background: #1cbf31;
   background: -webkit-gradient(linear, left top, left bottom, from(#00ff26), to(#1cbf31));
   background: -webkit-linear-gradient(top, #00ff26, #1cbf31);
   background: -moz-linear-gradient(top, #00ff26, #1cbf31);
   background: -ms-linear-gradient(top, #00ff26, #1cbf31);
   background: -o-linear-gradient(top, #00ff26, #1cbf31);
   background-image: -ms-linear-gradient(top, #00ff26 0%, #1cbf31 100%);
   padding: 20px 40px;
   -webkit-border-radius: 16px;
   -moz-border-radius: 16px;
   border-radius: 16px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   text-shadow: #7ea4bd 0 1px 0;
   color: #ffffff;
   font-size: 24px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
}
.button-vert:hover {
   border: 2px solid #0a3c59;
   text-shadow: #1914a3 0 1px 0;
   background: #1cbf31;
   background: -webkit-gradient(linear, left top, left bottom, from(#1dde36), to(#1cbf31));
   background: -webkit-linear-gradient(top, #1dde36, #1cbf31);
   background: -moz-linear-gradient(top, #1dde36, #1cbf31);
   background: -ms-linear-gradient(top, #1dde36, #1cbf31);
   background: -o-linear-gradient(top, #1dde36, #1cbf31);
   background-image: -ms-linear-gradient(top, #1dde36 0%, #1cbf31 100%);
   color: #ffffff;
}
.button-vert:active {
   text-shadow: #1e4158 0 1px 0;
   border: 2px solid #0a3c59;
   background: #1dde36;
   background: -webkit-gradient(linear, left top, left bottom, from(#1cbf31), to(#1cbf31));
   background: -webkit-linear-gradient(top, #1cbf31, #1dde36);
   background: -moz-linear-gradient(top, #1cbf31, #1dde36);
   background: -ms-linear-gradient(top, #1cbf31, #1dde36);
   background: -o-linear-gradient(top, #1cbf31, #1dde36);
   background-image: -ms-linear-gradient(top, #1cbf31 0%, #1dde36 100%);
   color: #ffffff;
}
.button-bleu {
   margin-bottom: 25px;
   border: 2px solid #517c94;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#6ebff5), to(#3e779d));
   background: -webkit-linear-gradient(top, #6ebff5, #3e779d);
   background: -moz-linear-gradient(top, #6ebff5, #3e779d);
   background: -ms-linear-gradient(top, #6ebff5, #3e779d);
   background: -o-linear-gradient(top, #6ebff5, #3e779d);
   background-image: -ms-linear-gradient(top, #6ebff5 0%, #3e779d 100%);
   padding: 20px 40px;
   -webkit-border-radius: 16px;
   -moz-border-radius: 16px;
   border-radius: 16px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   text-shadow: #7ea4bd 0 1px 0;
   color: #ffffff;
   font-size: 24px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
}
.button-bleu:hover {
   border: 2px solid #0a3c59;
   text-shadow: #1914a3 0 1px 0;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
   color: #ffffff;
}
.button-bleu:active {
   text-shadow: #1e4158 0 1px 0;
   border: 2px solid #0a3c59;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#3e779d));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
   color: #ffffff;
}
.button-jaune {
   margin-bottom: 25px;
   border: 2px solid #517c94;
   background: #8a8c07;
   background: -webkit-gradient(linear, left top, left bottom, from(#f8ff2b), to(#8a8c07));
   background: -webkit-linear-gradient(top, #f8ff2b, #8a8c07);
   background: -moz-linear-gradient(top, #f8ff2b, #8a8c07);
   background: -ms-linear-gradient(top, #f8ff2b, #8a8c07);
   background: -o-linear-gradient(top, #f8ff2b, #8a8c07);
   background-image: -ms-linear-gradient(top, #f8ff2b 0%, #8a8c07 100%);
   padding: 20px 40px;
   -webkit-border-radius: 16px;
   -moz-border-radius: 16px;
   border-radius: 16px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   text-shadow: #7ea4bd 0 1px 0;
   color: #ffffff;
   font-size: 24px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button-jaune:hover {
   border: 2px solid #0a3c59;
   text-shadow: #1914a3 0 1px 0;
   background: #969900;
   background: -webkit-gradient(linear, left top, left bottom, from(#e2e60c), to(#969900));
   background: -webkit-linear-gradient(top, #e2e60c, #969900);
   background: -moz-linear-gradient(top, #e2e60c, #969900);
   background: -ms-linear-gradient(top, #e2e60c, #969900);
   background: -o-linear-gradient(top, #e2e60c, #969900);
   background-image: -ms-linear-gradient(top, #e2e60c 0%, #969900 100%);
   color: #ffffff;
   }
.button-jaune:active {
   text-shadow: #1e4158 0 1px 0;
   border: 2px solid #0a3c59;
   background: #e2e60c;
   background: -webkit-gradient(linear, left top, left bottom, from(#969900), to(#969900));
   background: -webkit-linear-gradient(top, #969900, #e2e60c);
   background: -moz-linear-gradient(top, #969900, #e2e60c);
   background: -ms-linear-gradient(top, #969900, #e2e60c);
   background: -o-linear-gradient(top, #969900, #e2e60c);
   background-image: -ms-linear-gradient(top, #969900 0%, #e2e60c 100%);
   color: #ffffff;
   }
.button-rouge {
   margin-bottom: 25px;
   border: 2px solid #517c94;
   background: #b82525;
   background: -webkit-gradient(linear, left top, left bottom, from(#ff2b2b), to(#b82525));
   background: -webkit-linear-gradient(top, #ff2b2b, #b82525);
   background: -moz-linear-gradient(top, #ff2b2b, #b82525);
   background: -ms-linear-gradient(top, #ff2b2b, #b82525);
   background: -o-linear-gradient(top, #ff2b2b, #b82525);
   background-image: -ms-linear-gradient(top, #ff2b2b 0%, #b82525 100%);
   padding: 20px 40px;
   -webkit-border-radius: 16px;
   -moz-border-radius: 16px;
   border-radius: 16px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   text-shadow: #7ea4bd 0 1px 0;
   color: #ffffff;
   font-size: 24px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button-rouge:hover {
   border: 2px solid #0a3c59;
   text-shadow: #1914a3 0 1px 0;
   background: #b82525;
   background: -webkit-gradient(linear, left top, left bottom, from(#cf2121), to(#b82525));
   background: -webkit-linear-gradient(top, #cf2121, #b82525);
   background: -moz-linear-gradient(top, #cf2121, #b82525);
   background: -ms-linear-gradient(top, #cf2121, #b82525);
   background: -o-linear-gradient(top, #cf2121, #b82525);
   background-image: -ms-linear-gradient(top, #cf2121 0%, #b82525 100%);
   color: #ffffff;
   }
.button-rouge:active {
   text-shadow: #1e4158 0 1px 0;
   border: 2px solid #0a3c59;
   background: #cf2121;
   background: -webkit-gradient(linear, left top, left bottom, from(#b82525), to(#b82525));
   background: -webkit-linear-gradient(top, #b82525, #cf2121);
   background: -moz-linear-gradient(top, #b82525, #cf2121);
   background: -ms-linear-gradient(top, #b82525, #cf2121);
   background: -o-linear-gradient(top, #b82525, #cf2121);
   background-image: -ms-linear-gradient(top, #b82525 0%, #cf2121 100%);
   color: #ffffff;
}
#famille-desc {
    font-size: 28px;
    border-bottom:#65a9d7 1px ridge;
    border-width:1px;
    padding-bottom:10px;
    margin-bottom:20px;
}
.plus .moins .output {
    z-index:50; 
}
#catalogue div {

    padding-top:10px;
    padding-bottom:10px;
    
}