﻿
@{
    ViewBag.Title = "Portail";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="row">
    <a href="/Home">
        <div class="col-lg-6 col-sm-12 col-xs-12">
            <div class="button-vert">
                <div class="inner">
                    <h1 class="text-center"><i class="fa fa-shopping-cart fa-6"></i> Catalogue de prix</h1>
                </div>
                <div class="icon">
                    <i class=""></i>
                </div>
            </div>
        </div>
    </a>
    <a href="/Clients">
        <div class="col-lg-6 col-sm-12 col-xs-12">
            <div class="button-bleu">

                <div class="inner">
                    <h1 class="text-center"><i class="fa fa-area-chart fa-6"></i> Fiche clients</h1>
                </div>
                <div class="icon">
                    <i class=""></i>
                </div>
            </div>
        </div>
    </a>
    <a href="/Offres">
        <div class="col-lg-6  col-sm-12 col-xs-12">
            <div class="button-rouge">
                <div class="inner">
                    <h1 class="text-center"><i class="fa fa-file-excel-o"></i> Gestion des offres</h1>
                </div>
                <div class="icon">
                    <i class=""></i>
                </div>
            </div>
        </div>
    </a>
    <a href="/Catalogue">
        <!-- ./col -->
        <div class="col-lg-6 col-sm-12 col-xs-12">
            <!-- small box -->
            <div class="button-jaune">
                <div class="inner">
                    <h1 class="text-center"><i class="fa fa-calculator fa-6"></i> Catalogue des clients</h1>
                </div>
                <div class="icon">
                    <i class=""></i>
                </div>
            </div>
        </div>
    </a>
    <!-- ./col -->
</div>