﻿@model mia.Models.Articles
@{
    ViewBag.Title = "Catalogue de prix";
    Layout = "~/Views/Shared/_Dashboard.cshtml";

}

<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-11 col-xs-9">
            @Html.EditorFor(model => model.ArticleDesc, new { htmlAttributes = new { @class = "form-control textbox",  @placeholder = "Tapez le nom de votre produit" } })
        </div>
        <div class="col-md-1 col-xs-3">
            <button id="reset" type="button" class="btn btn-info">Vider</button>
        </div>
    </div>
</div>
<div id="code" class="col-md-6"></div>
<div id="colisage" class="col-md-6"></div>
<div id="score" class="col-md-6"></div>
<div id="idArticle" class="col-md-6"></div>

<div class="row">
    <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>Prix idéal</h3>
                <p id="prix_ideal">0</p>
            </div>
            <div class="icon">
            </div>
            <a href="#" id="marge_ideal" class="small-box-footer">
                0 %
            </a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-sm-6 col-xs-12">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>Prix médian</h3>

                <p id="prix_moyen">0</p>
            </div>
            <div class="icon">
            </div>
            <a href="#" id="marge_moyen" class="small-box-footer">
                0 %
            </a>
        </div>
    </div>
    <!-- ./col -->
    <div id="hide-pd" class="col-lg-3 col-sm-6 col-xs-12">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>Prix défensif</h3>

                <p id="prix_def">0</p>
            </div>
            <div class="icon">
            </div>
            <a href="#" id="marge_def" class="small-box-footer">
                0 %
            </a>
        </div>
    </div>
    <!-- ./col -->
    <div id="hide-plb" class="col-lg-3 col-sm-6 col-xs-12">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>Prix Limite Basse</h3>

                <p id="prix_limitebasse">0</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="#" id="marge_limitebasse" class="small-box-footer">
                0 %
            </a>
        </div>
    </div>
    <!-- ./col -->
</div>
<button id="mortal" type="button" class="btn btn-warning">Mia</button>
<button id="kombat" type="button" class="btn btn-danger">Trading</button>

